li.list-group-item {
  position: relative;
  padding-left: 45px !important;
}

li.list-group-item.passed {
  background-color: #ddffe8 !important;
}

li.list-group-item.failed {
  background-color: #ffe5e5 !important;
}

  .pr-sanity-file-type-counts {
    font: bold 10px Arial;
    height: 100%;
    left: 0; 
    list-style: none;
    padding: 0 3px;
    position: absolute;
    top: 0;
    width: 30px;
  }

    .pr-sanity-file-type-counts .file-type-icon {
      font-weight: normal;
      margin-left: 3px;
      line-height: 1.3em;
    }

.sanity-assignees-wrapper ul {
  list-style: none;
}

.sanity-assignee {
  cursor: pointer;
  height: 22px;
  margin-bottom: 4px;
}

.sanity-assignee .count {
  background: green;
  border-radius: 12px;
  color: #fff;
  display: inline-block;
  height: 16px;
  margin-right: .5em;
  padding: 3px;
  width: 16px;
  text-align: center;
}

.sanity-assignee.no-one .count {
  background: red;
}

.sanity-assignee .name {
  font-weight: bold;
  border-bottom: 3px solid transparent;
}

.sanity-assignee:hover .count, .sanity-assignee.active .count {
  box-shadow: 0 0 3px 3px rgba(111, 209, 31, .5);
}

.sanity-assignee.active  .name {
  border-color: green;
}
.sanity-assignee.active.no-one .name {
  border-color: red;
}

.sanity-assignee.no-one:hover .count, .sanity-assignee.no-one.active .count {
  box-shadow: 0 0 3px 3px rgba(237, 0, 0, .5);
}

.pr-sanity {
  color: #4f4f4f;
  font-size: 12px;
  font-weight: normal;
  height: 23px;
  line-height: 23px;
  left: 0;
  overflow: hidden;
  padding: 4px 10px;
  padding-top: 4px;
}

  .pr-sanity .files-changed {
    font-weight: bold;
    margin-right: 15px;
    padding: 3px;
    -webkit-transition: width .3s;
  }

    .pr-sanity .files-changed:hover {
      width: 190px;
    }

    .pr-sanity .files-changed .copy {
      font-weight: normal;
    }

  .pr-sanity .updating {
    margin-left: 10px;
  }

.pr-sanity-name {
  font-weight: bold;
  margin-right: 10px !important;
  padding: 3px;
  white-space: nowrap;
}

.pr-sanity .failed {
  color: red;
}
.pr-sanity .passed {
  color: green;
}

  .pr-sanity .status {
    display: inline-block;
    float: none !important;
  }

.list-group-item-meta .branch-name {
  display: none;
}

.list-group-item-summary {
  display: none;
}

.list-group-item-name {
  float: left;
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
text-overflow: ellipsis;
