  .pr-sanity-file-type-counts {
    font: bold 10px Arial;
    height: 100%;
    left: 0; 
    list-style: none;
    padding: 9px 6px;
    position: absolute;
    top: 0;
    width: 50px;
  }

    .pr-sanity-file-type-counts li {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .pr-sanity-file-type-counts .file-type-icon {
      font-weight: normal;
      margin-left: 3px;
      line-height: 1.3em;
    }

.sanity-assignees-wrapper ul {
  list-style: none;
}

.sanity-assignee {
  cursor: pointer;
  height: 22px;
  margin-bottom: 4px;
}

.sanity-assignee .count {
  background: green;
  border-radius: 12px;
  color: #fff;
  display: inline-block;
  height: 23px;
  margin-right: .5em;
  padding: 3px;
  width: 23px;
  text-align: center;
}

.sanity-assignee.no-one .count {
  background: red;
}

.sanity-assignee .name {
  font-weight: bold;
  border-bottom: 3px solid transparent;
}

.sanity-assignee:hover .count, .sanity-assignee.active .count {
  box-shadow: 0 0 3px 3px rgba(111, 209, 31, .5);
}

.sanity-assignee.active  .name {
  border-color: green;
}
.sanity-assignee.active.no-one .name {
  border-color: red;
}

.sanity-assignee.no-one:hover .count, .sanity-assignee.no-one.active .count {
  box-shadow: 0 0 3px 3px rgba(237, 0, 0, .5);
}

.pr-sanity {
  color: #4f4f4f;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  height: 23px;
  line-height: 23px;
  left: 0;
  padding: 4px 10px;
  padding-top: 8px;
}

  .pr-sanity .files-changed {
    font-weight: bold;
    margin-right: 15px;
    padding: 3px;
    -webkit-transition: width .3s;
  }

    .pr-sanity .files-changed:hover {
      width: 190px;
    }

    .pr-sanity .files-changed .copy {
      font-weight: normal;
    }

  .pr-sanity .updating {
    margin-left: 10px;
  }

.pr-sanity-name {
  font-weight: bold;
  margin-right: 10px !important;
  padding: 3px;
  white-space: nowrap;
}

.pr-sanity .failed {
  color: red;
}
.pr-sanity .passed {
  color: green;
}

  .pr-sanity-status {
    display: inline-block;
    margin-right: 4px;
  }

.list-group-item {
  padding-left: 51px !important;
}

.list-group-item-name .type-icon {
    display: none;
}

.list-group-item-meta .pr-sanity-name {
  color: #fff;
  padding: 4px;
  border-radius: 2px;
}

.list-group-item-meta .pr-sanity-status {
  color: #fff;
  padding: 3px;
  border-radius: 3px;
}

.list-group-item-meta .pr-sanity-status.pr-sanity-passed .fail {
  display: none;
}

.list-group-item-meta .pr-sanity-status .pass {
  color: #35BF26;
}

.list-group-item-meta .pr-sanity-status.pr-sanity-fail .pass {
  display: none;
}

.list-group-item-meta .pr-sanity-status.pr-sanity-fail {
  background-color: #e00606;
}

.list-group-item-meta .pr-sanity-no-assignee {
  background-color: #fc495e;
}
.list-group-item-meta .pr-sanity-assignee {
  background-color: #3fc2ff;
}

.pr-sanity-meta {
  display: inline-block;
}
